$background_light: rgb(204, 204, 204);
$black_border: 1px solid black;
$red: rgb(124, 16, 16);


$full_width: 420px;
$zoomed_width: 450px;
$input_height: 50px;
$corners: 7px;
$spacing: 25px;

$flip_speed: 0.3s;
